@import url('https://fonts.googleapis.com/css2?family=Outfit');
*{
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
    font-family:'Outfit', sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    max-width: 300px;
  }
  .card img{
    margin: 2px 3px;
    border-radius: 15px;
  }
  .card-content{
    background-color: white;
    text-align: center;
    padding: 0;
  }
  .card-content h2{
    font-weight: 700;
    padding: 10px 0px;
    background-color: white;
    color: hsl(218, 44%, 22%);
  }
  .card-content p{
    font-weight: 400;
    padding: 8px 5px;
    background-color: white;
    color: hsl(220, 15%, 55%);
  }